extends layouts/main

block content
    .form__container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="Current Password", required)
            input(type="password", name="newPassword", placeholder="New Password", required)
            input(type="password", name="newPassword1", placeholder="Verify New Password", required)
            input.btn__standard(type="submit", value="Change Password") 